@using MovieDemo.Models
@model SessionViewModel
@{

}
<div class="row">
    <div class="col-md-4">
        <div class="waves-effect waves-light mask z-depth-2"><img src="@Model.Movie.ImageUrl" alt="" class="img-responsive " /></div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-9 card card-panel">
                <h4>
                    @Model.Movie.Name

                    @if (Model.IsRate)
                    {
                        <span class="pull-right"><i class="glyphicon glyphicon-star yellow-text "> </i><span class="black-text">@Model.Rate</span></span> }
                </h4>
                @if (ViewBag.IsAuth)
                {
                    <label for="rating">Rate</label>
                    <input id="rating" type="number" class="rating" value="@Model.UserRate" />


                }
                <hr />
                <h5>
                    Session info:
                </h5>
                <ul>
                    <li>
                        <p>
                            <i class="glyphicon glyphicon-calendar i-margin"></i>Session date: @Model.Showtime.Date.ToShortDateString()
                        </p>
                    </li>
                    <li>
                        <p><i class="glyphicon glyphicon-time i-margin"></i>Session time: @Model.Showtime.Date.ToShortTimeString()</p>
                    </li>
                    <li>
                        <p><i class="glyphicon glyphicon-map-marker i-margin"></i>Adress: @Model.Cinema.Adress</p>
                    </li>
                    <li>
                        <p><i class="glyphicon glyphicon-film i-margin"></i>Cinema: <span class="label label-primary">@Model.Cinema.Name</span></p>
                    </li>
                </ul>
                <hr />
                <h5>Movie info:</h5>
                <p><i class="glyphicon glyphicon-time i-margin"></i>Year: @Model.Movie.Year</p>
                <p><i class="glyphicon glyphicon-map-marker i-margin"></i>Country: @Model.Movie.Country</p>
                <p><i class="glyphicon glyphicon-user i-margin"></i>Director: @Model.Movie.Director</p>
                <p><i class="glyphicon glyphicon-tags i-margin"></i>Genres: @Model.Movie.Genres</p>
                <p><i class="glyphicon glyphicon-star i-margin"></i>ImdbRate: @Model.Movie.ImdbRate</p>
                <p><i class="glyphicon glyphicon-book i-margin"></i> Description: @Model.Movie.Description</p>
                <br />
                <a href="@Model.Movie.Url" class="btn btn-block btn-label">Find more Info</a>
            </div>
            <div class="col-sm-3">
                <div class=" card  stylish-color-dark session-card hoverable z-index-1 pull-left">
                    <div class="card-content">
                        <div class="row">
                            <div style="margin-left:10px">
                                @foreach (char c in Model.Showtime.Date.ToString("HH:mm"))
                                {
                                    if (c == ':')
                                    {
                                        <span class="card clock stylish-color-dark white-text">:</span>
                                    }
                                    else
                                    {
                                        <span class="card clock">@c</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="label label-primary" style="margin-left:10px">
                                @Model.Cinema.Name
                            </div>
                        </div>
                        <div class="row">
                            <a href="@Model.Showtime.OrderUrl" class="btn btn-default"> Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.IsAuth)
{
    <div class="row">
        <div class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3">
            <div class="card card-panel horizontal-listing no-padding comments-section">
                <h5 class="text-center title">Comments <span class="label label-default">@Model.CommentsAmount</span></h5>
                <p class="text-center">
                    Sort by :
                    <select id="orderSelect">
                        <option value="" selected="@((@Model.CommentOrder=="") ? true : false)">None</option>
                        <option value="timeDesc" selected="@((@Model.CommentOrder == "timeDesc") ? true : false)">Newest first</option>
                        <option value="timeAsc" selected="@((@Model.CommentOrder == "timeAsc") ? true : false)">Oldest first</option>
                        <option value="popularFirst" selected="@((@Model.CommentOrder == "popularFirst") ? true : false)">Best first</option>
                        <option value="highFirst" selected="@((@Model.CommentOrder == "highFirst") ? true : false)">Loved it first</option>
                        <option value="worseFirst" selected="@((@Model.CommentOrder == "worseFirst") ? true : false)">Hated first</option>
                    </select>
                </p>
                <hr>
                <div class="container-fluid">
                    <!--First row-->
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="row hoverable comment" data-cid="@comment.Id">
                            <div class="col-sm-2">
                                <img src="http://images.clipartpanda.com/movie-night-clipart-9cp4q9xcE.jpeg" class="img-responsive img-circle z-depth-">
                            </div>
                            <div class="col-sm-10">
                                <a href="#">
                                    <h5 class="title">
                                        @(comment.User.UserName)
                                        @if (comment.UserRate != null)
                                        {
                                            <span class="pull-right">
                                                <i class="glyphicon glyphicon-star \ deep-purple-text no-margin">

                                                </i>
                                                <span class="black-text">@comment.UserRate.Value</span>
                                            </span>
                                        }
                                    </h5>
                                </a>
                                <i class="fa fa-clock-o">
                                    @if (comment.Time - DateTime.Now > TimeSpan.FromDays(1))
                                    {
                                        @comment.Time.ToShortDateString()
                                    }
                                    else
                                    {
                                        @comment.Time.ToShortTimeString()
                                    }
                                </i>
                                <p>@comment.Text</p>
                                <span> <strong>Comment rate:  <span class="i-margin comment-rate">@comment.CommentRate</span></strong><span class="like glyphicon glyphicon-thumbs-up i-margin" active="@comment.CurrUserLiked"></span><span class="unlike glyphicon glyphicon-thumbs-down i-margin" active="@comment.CurrUserDisliked"></span></span>
                            </div>
                        </div>
                    }
                    <!--/.First row-->

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <form method="post" class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3">
            <div class="card-panel reply-section hoverable">
                <h5 class="text-center">Leave a comment</h5>
                <hr>
                <div class="input-field">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea minlength="5" name="text" id="reply-text" class="materialize-textarea" required></textarea>
                    <label for="reply-text">Text</label>
                </div>
                <input name="showtimeId" hidden value="@Model.Showtime.Id" />
                <input name="cinemaId" hidden value="@Model.Cinema.Id" />
                <input name="movieId" hidden value="@Model.Movie.Id" />
                <div class="text-center">
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                </div>
            </div>
        </form>

    </div>
}
<script>
    model = {cinemaId: @Model.Cinema.Id, movieId: @Model.Movie.Id};
    toHide = "@((Model.IsLiked) ? "#likeBut" : "#unlikeBut")";
    showId = @Model.Showtime.Id ;
    ordered = @(Model.CommentOrder != "" ? "true" : "false") ;
</script>
<!--./Main row-->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/app/likes.js"></script>