@model MovieDemo.Models.FilterViewModel

@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "filterForm"}))
{
    <div class="card z-depth-2 default-color-dark">
    <div class="card-content white-text">
        <h6 class="card-title">Filters</h6>
        <ul class="filterList">
            <li>
                <p>
                    <i class="glyphicon glyphicon-calendar i-margin"></i>Date
                    <input type="text" id="filterDate" name="date" value="@Model.DateString"/>
                </p>
            </li>
            <li>
                <p data-toggle="collapse" data-target="#cinemaFilterList"><i class="glyphicon glyphicon-map-marker i-margin"></i>Cinemas <span class="caret"></span></p>
                <ul class="filterList-second collapse" id="cinemaFilterList">
                    @foreach (var pair in Model.Cinemas)
                    {
                        <li>
                            <input type="checkbox" name="cinemas" value="@pair.Key.Id" checked="@pair.Value"  /> @pair.Key.Name
                        </li>
                    }
                </ul>
            </li>

            <li>
                <p data-toggle="collapse" data-target="#moviesFilterList">
                    <i class="glyphicon glyphicon-film i-margin"></i>Movies <span class="caret"></span>
                </p>
                <ul class="filterList-second collapse" id="moviesFilterList">
                    @foreach (var pair in Model.Movies)
                    {
                        <li>
                            <input type="checkbox" name="movies" value="@pair.Key.Id" checked="@pair.Value" /> @pair.Key.Name
                        </li>
                    }
                </ul>

            </li>
            <li>
                <p data-toggle="collapse" data-target="#technologyFilterList">
                    <i class="glyphicon glyphicon-facetime-video i-margin"></i>Technologies <span class="caret"></span>
                </p>
                <ul class="filterList-second collapse" id="technologyFilterList">
                    <li>
                        <input type="checkbox" name="technologies" value="DigiPlan-2d" checked="@Model.Technologies["DigiPlan-2d"]"/> 2D
                    </li>
                    <li>
                        <input type="checkbox" name="technologies" value="DigiPlan-3d" checked="@Model.Technologies["DigiPlan-3d"]" /> 3D
                    </li>
                    <li>
                        <input type="checkbox" name="technologies" value="4dx-3d" checked="@Model.Technologies["4dx-3d"]" /> 4Dx
                    </li>
                    <li>
                        <input type="checkbox" name="technologies" value="imax-3d" checked="@Model.Technologies["imax-3d"]" /> IMAX
                    </li>
                </ul>


            </li>
        </ul>
    </div>
    <div class="card-action ">
        <button type="submit" class="no-margin btn white btn-sm btn-block waves-effect waves-light">Submit</button>
    </div>

</div>
}
