@using MovieServices.Models
@using MovieDemo.Models
@model HomeViewModel



<div class="row">
    <div class="col-md-2 col-md-push-10" id="filtersCol">
      @(Html.Partial("FilterView", Model.FilterModel))
    </div> 
    <div class="col-md-10 col-md-pull-2 col-xs-12 ">
        <div class="row">

            <div class="col-xs-12 ">
                <h6>@Model.ScheduleModel.Day.ToShortDateString()</h6>
                <img src="~/Content/images/showtimes-dark-hours.png" style="width:100%" />
            </div>
            <div class="col-md-2 col-xs-1"></div>
            <div class="col-md-10 col-xs-11 ">
                @for (int i = 10; i <= 24; ++i)
                {
                    <a href="#" style="position:absolute; left:@(PositionEvaluator.GetPercent(i))%">@i</a>
                }
                <br />

            </div>


        </div>
        <div class="row">
            <hr />
        </div>
        @foreach (var x in Model.ScheduleModel.Sessions)
        {
            <div class="row">
                <div class="col-md-2 col-xs-1">
                    @x.Key.Movie.Name <span class="label label-@(StyleHelper.CinemaStyle(x.Key.Cinema))">@x.Key.Cinema.Name</span>

                </div>
                <div class="col-md-10 col-xs-11">
                    @foreach (var s in x.Value)
                    {
                        @Html.Action("TimeBadge", s)
                    }
                </div>
            </div>
            <hr />
        }
    </div>  
    
    
    
</div>

