<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
  
    <!-- Material Design Icons -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MDB_3.3.3/sass/mdb.min.css" rel="stylesheet" />
    <!-- JQuery -->
    <link href="~/Content/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/star-rating.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @Html.Action("Navbar", "Navbar")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    

    @Html.Partial("LoginModal")
    @Html.Partial("RegistrationModal")


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/Content/MDB_3.3.3/js/mdb.min.js"></script>
    <script src="~/Scripts/bootstrap-material-datetimepicker.js"></script>
    <script src="~/Scripts/star-rating.js"></script>
    <script src="~/Scripts/app/auth/login.js"></script>
    <script src="~/Scripts/app/auth/registration.js"></script>
    <script src="~/Scripts/app/auth/filters.js"></script>
</body>
</html>